footer.footer 
  .footer__container.container   
    .footer__top
      span ©2020 Yourcompany
      a.logo(href='/') Landie
      button.button.header__button(type='button') Purhase Now
    .footer__bottom 
      nav.nav.header__nav
        ul.nav__list
          li.nav__item
            a.nav__link(href="#") Home
          li.nav__item
            a.nav__link(href="#") About
          li.nav__item
            a.nav__link(href="#") Contact
      .social   
        .social__items 
          .social__item
            a.social__link(href="#")
              img.social__image(src="img/icons/facebook.svg", alt="social-image")
          .social__item
            a.social__link(href="#")
              img.social__image(src="img/icons/linkedin.svg", alt="social-image")
          .social__item
            a.social__link(href="#")
              img.social__image(src="img/icons/twitter.svg", alt="social-image")
          .social__item
            a.social__link(href="#")
              img.social__image(src="img/icons/youtube.svg", alt="social-image")
          .social__item
            a.social__link(href="#")
              img.social__image(src="img/icons/instagram.svg", alt="social-image")  