section.fullscreen  
  .fullscreen__container.container 
    .fullscreen__content-block
      .fullscreen__text-block 
        h1.title.fullscreen__title 
          | Introduce Your Product 
          br
          |Quickly & Effectively
        p.fullscreen__description
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
          |Aenean commodo ligula eget dolor. Aenean massa. 
          |Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
          br
          |mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
          br
          | sem. Nulla consequat massa quis enim.
          
      .fullscreen__button-block  
        button.button.fullscreen__button Purchase UI Kit
        button.button.fullscreen__button.fullscreen__button_not-bg  Learn More  
        