section.section-price 
  .section-price__container.container 
    .section-price__title-block   
      h2.title.section-price__title A Price To Suit Everyone
      p.description.section-price__description
        |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        |Aenean commodo ligula eget dolor. Aenean massa.
        |Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
    .price.section-price__price 
      h2.price__title $40
      p.price__subtitle UI Design Kit
    .section-price__button-block 
      p.section-price__caption See, One price. Simple.
      button.button.section-price__button Purchase Now