section.section.section_first
  .section__container.container
    .section__info 
      .section__title-block 
        h2.title.section__title Light, Fast & Powerful
        p.description.section__description 
          |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
          |Aenean commodo ligula eget dolor. Aenean massa. 
          |Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
          |mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
          br
          br
          | sem. Nulla consequat massa quis enim.
      .feature.section__feature 
        .feature__list  
          .feature__item 
            img.feature__image(src='img/icons/icon.svg')
            .feature__text-block  
              h3.title.feature__title Title Goes Here
              p.feature__description 
                |Lorem ipsum dolor sit amet, consectetuer  
                |adipiscing elit. Aenean commodo ligula eget 
                |dolor. 
          .feature__item 
            img.feature__image(src='img/icons/icon.svg')
            .feature__text-block  
              h3.title.feature__title Title Goes Here
              p.feature__description 
                |Lorem ipsum dolor sit amet, consectetuer  
                |adipiscing elit. Aenean commodo ligula eget 
                |dolor. 

    img.section__image(src='img/section-image-1.png')
